# shared with .npmignore
# different than .npmignore
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml
/README.md
versions/
server_jars/
/test-server/
test/server_*
.vscode
.DS_Store
launcher_accounts.json
data
/bot/.env
/bot/config.json
/bot/state.json
/bot/worker.log
/bot/paper-worker-gateway/target/
